* {
    box-sizing: border-box;
}
BODY {
	background: #EEE;
	font-family: "Arial", sans-serif;
	font-size: 14px;
}
H1, H3 {
	border: 1px solid black;
	background: #DDD;
	text-align: center;
}
H1 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2px;
}
H3 {
	margin-top: 32px;
	padding: 1px;
}
TD {
	vertical-align: top;
	text-align: center;
}
TD INPUT[type="submit"],
TD INPUT[type="text"],
TD SELECT {width: 100%;}

#map {
	width: 768px;
	height: 512px;
}
#about, #inst {
	display: block;
	font-size: 0.9em;
	width: 768px;
	height: 512px;
}
#about P, #inst P {
	text-align: left;
	width: 400px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}
#footer {
	clear: both;
	padding-top: 8px;
	font-size: 0.7em;
	text-align: center;
}

*[onclick] {cursor: pointer;}
IMG {border: none;}
FORM {margin: 0px;}
CODE {font-size: 0.9em; background: #CCC;}
.left {text-align: left; width: 500px; margin: auto;}

#graphs A {display: block;}
#graphs IMG {display: block;}

input:required:invalid {
	background-color: #FEE;
}
input:required:valid {
	background-color: #EFE;
}
