name: Publish

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set build vars
        run: |
          echo "BUILD_TIME=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV
          echo "BUILD_HASH=$GITHUB_SHA" >> $GITHUB_ENV
      - name: Publish
        uses: elgohr/Publish-Docker-Github-Action@main
        with:
          name: shish2k/travmap
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          buildargs: BUILD_TIME,BUILD_HASH

  deploy:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-24.04
    needs:
      - build
    steps:
      - name: Deploy
        uses: shish/watchtower-update@main
        with:
          url: https://watchtower.shish.io/v1/update
          api_token: ${{ secrets.WATCHTOWER_TOKEN }}
          images: shish2k/travmap
